p, a, div{
  font-family: Arial;
  color: white;
}


body {
  background-color: #121617;
  margin: 0;

}

.header{
  display: flex;
  justify-content: end;
  position: fixed;
  background-color: #121617;
  top: 0;
  right: 0;
  left: 0;
  height: 50px;
  margin-top: 10px;
}

/* .wrapper {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.header ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;

}


.header-icon {
  color: white;
  margin-right: 36px;
  text-decoration: none;
}

.header-icon:hover{
  border: none;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: #81ecec;
  border-radius: 4px;
  color: black;
  transition:  0.15s,  0.30s;
}


.aboutme {
  color: #898080;
  font-size: 16px; /* Set initial font size */
}

@media screen and (max-width: 768px) {
  /* Adjust font size for smaller screens */
  .aboutme {
    font-size: 14px;
    margin-right: 50px;
  }
}

@media screen and (max-width: 480px) {
  /* Further adjust font size for even smaller screens */
  .aboutme {
    font-size: 12px;
    margin-right: 50px;
  }

}


.container-Aboutme {

  margin-top: 100px;
  margin-left: 30px;
  width: 100%; /* Set initial width */
  max-width: 1500px; /* Set maximum width */
  padding: 20px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.container{
  /* background-color: rgb(255, 255, 255); */
  display: flex;
  justify-content: center;
  margin-top: 15vh;
  height: 65vh;
}

@media screen and (max-width: 1000px) {
  .myPic {
    display: none; /* Hide the image when screen width is 1000px or smaller */
  }
  .aboutme{
    margin-right: 50px;
  }
}


.contact-container {
  position: absolute;


}


.content-container{
  position: relative;
}

.myPic{
  width: 500px;
  height: 500px;
  border-radius: 50%;

}
.greetings,
.name {
  font-weight: bold;
  margin: 0;
  font-size: 64px;
  min-width: 14px; 
  line-height: 55px;
}

.job-position{
  font-weight: bold;
  font-size: 36px;
  line-height: 55px;
}

@media screen and (max-width: 768px) {
  .greetings,
  .name {
    font-size: 10vw;
    min-width: auto; 
  }
  .job-position{
    font-size: 5vw;
  }
}

.name {
  color: #81ecec;
}

.name {
  overflow: hidden;
  color: #81ecec;
  white-space: nowrap;
  width: 0;
  animation: typing;
  animation-duration: 1.5s;
  animation-timing-function: steps(30, end);
  animation-fill-mode: forwards;
}
  



.btn-hire-downloadCv{
  margin-top: 20px;
}
.downloadCv{
  background-color:  #81ecec;
  border: none;
  padding: 10px;
  border-radius: 4px;
  margin-right: 16px;

}
.contactMe{
  border: none;
  padding: 10px;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
}
.downloadCv:hover,
.contactMe:hover{
  opacity: 0.8;
  cursor: pointer;
}

.downloadCv:active,
.contactMe:active{
  opacity: 0.5;

}

.socialMedia-contact{
  margin-top: 44px;
}
.socialMedia-contact a{
  margin-right: 38px;
}
.socialMedia-contact img{
  width: 22px;
}

