html{
  scroll-behavior: smooth;
}

p, a, div{
  font-family: Arial;
  color: white;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


h1{
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #d0d0d0;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  margin: 0;
}

#home{
  background-color:  #121617;
  height: 100vh;
}

.logo {
  display: flex;
  margin: 10px;
  font-size: 22px;
  font-weight: bold;
  color: white;
  margin-left: 26px;
}

a{
  text-decoration: none;
}

h3{
  color: black;
  line-height: 36px;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
  background-color: #121617;
  position: fixed;
}

.header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  list-style-type: none;
}

.hamburger-menu{
  display: none;
  cursor: pointer;
  margin-right: 30px;
}

.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

.header-icon {
  color: white;
  margin-right: 36px;
  transition: 0.8s ease;
}

.header-icon:hover{
  border: none;
  padding: 12px;
  background-color: #81ecec;
  border-radius: 4px;
  color: black;
  font-weight: bold;
  transition:  0.15s,  0.30s;
}

.myProfile{
  margin: 50px;
}

.aboutme {
  color: #898080;
  font-size: 16px; 
}
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 100px auto;
}

.timeline-container {
  position: relative;
  padding: 10px 50px;
  width: 50%;
  animation: movedown 1s linear forwards;
  opacity: 0;
}

@keyframes movedown {
  0%{
    opacity: 1;
    transform: translateY(-30px);

  }
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}

.timeline-container:nth-child(1){
  animation-delay: 0s;
}
.timeline-container:nth-child(2){
  animation-delay: 1s;
}
.timeline-container:nth-child(3){
  animation-delay: 2s;
}
.timeline-container:nth-child(4){
  animation-delay: 3s;
}
.timeline-container:nth-child(5){
  animation-delay: 4s;
}

.textbox {
  padding: 20px 30px; 
  box-shadow: 1px 1px 15px rgb(0, 0, 0, 0.15);
  position: relative;
  border-radius: 6px;
  font-size: 15px;

}

.left-container {
  left: 0;
}

.right-container {
  left: 50%;
}

.timeline-container img {
  position: absolute;
  width: 60px;
  border-radius: 50%;
  right: -30px;
  top: 32px;
  z-index: 10; 
}


.right-container img{
  left: -30px;
}

.timeline::after{
  content: '';
  position: absolute;
  width: 8px;
  height: 100%;
  background-color: #81ecec;
  top: 0; 
  left: 50%;
  margin-left: -3px;
  z-index: -1;
  animation: moveline 5s linear forwards;
}
@keyframes moveline{
  0%{
    height: 0;
  }
  100%{
    height: 100%;
  }
}


.textbox h3{
  font-weight: 600;
}
.textbox small{
  display: inline-block;
  margin-bottom: 15px;
  color: black;
}

.left-container-arrow{
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #d9d9d9;
  right: -15px;
}

.right-container-arrow{
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #d9d9d9;
  left: -15px;


}

.content-container{
  margin-top: -10rem;
}


.container-Aboutme {
  margin-top: 100px;
  margin-left: 30px;
  padding: 20px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1350px;
}

#home{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1000px;
}

#education-aboutme{

}



.myPic{
  width: 400px;
  height: 400px;
  border-radius: 50%;
}

.greetings,
.name {
  font-weight: bold;
  margin: 0;
  font-size: 64px;
  min-width: 14px; 
  line-height: 55px;
}

.job-position{
  font-weight: bold;
  font-size: 36px;
  line-height: 55px;
}


.name {
  color: #81ecec;
}

.name {
  overflow: hidden;
  color: #81ecec;
  white-space: nowrap;
  width: 0;
  animation: typing;
  animation-duration: 1.5s;
  animation-timing-function: steps(30, end);
  animation-fill-mode: forwards;
}
  
.btn-hire-downloadCv{
  margin-top: 20px;

}

.downloadCv{
  background-color:  #81ecec;
  border: none;
  padding: 10px;
  border-radius: 4px;
  margin: 0;
}

.contactMe{
  border: none;
  padding: 10px;
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
}

.downloadCv:hover,
.contactMe:hover{
  opacity: 0.8;
  cursor: pointer;
}

.downloadCv:active,
.contactMe:active{
  opacity: 0.5;
}

.socialMedia-contact{
  margin: 20px;
}

.socialMedia-contact a{
  margin-right: 30px;
}

.socialMedia-contact img{
  width: 22px;
}

#Experiences {
  display: block;
  /* align-items: center; */
  width: 100%;
  justify-content: center;
  margin-top: 10rem;
}

h4, h2{
  color: #000;
}

p{
    color: #898080;
}

.heading-p {
  text-align: center;
  margin-top: 30px;
}

.headings {
  font-size: 50px;
  color: black;
  text-align: center;
}

.aboutme-container{
  text-align: center;
  margin: 50px;
}
.aboutme-container p{
  color: black;
  font-size: 20px;
}



.experience-container {
  display: flex;
  grid-template-columns: 1fr 1fr ;
  justify-content: center;
  gap: 2rem;
  margin: 50px;
}

.experience-box {
  box-shadow: 1px 1px 15px rgb(0, 0, 0, 0.15);
  border-radius: 30px;
}

.experience-box h2 {
  margin: 10px;

}

.experience {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4rem;
  margin: 16px;
}

.ex-div {
  display: flex;
}

.icon1 {
  width: 32px;
  height: max-content;
  margin: 14px;
}


#project{


}

.project-container{
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.project-item{
  /* background-color: #efeeee; */
  border-radius: 16px;
  display: flex; 
  width: 70rem;
  margin: 4rem;
  box-shadow: 1px 1px 15px rgb(0, 0, 0, 0.15);
}

.project-item h3{
  color: black;
  margin-left: 16px;
  font-size: 28px;
  font-family: serif;
}

.project-info{
  line-height: 20px;
  margin: 8px;
}

.project-item p, a{
  color: black;
  margin-left: 16px;

}
iframe{
  border-radius: 16px;
  width: 45rem;
  height: 350px;
  display: inline-block;

}

.video-container{
  width: 70%;
}
.technology-use{
  display: flex;
  margin-left: 20px;
}

.technology-item{
  margin-top: 30px;
  margin-right: 30px;
  background-color: #d8d8d8;
  padding: 2px; 
  border-radius: 16px;
  font-size: 12px;
}

.discription{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  line-height: 16px;
  margin: 10px;
  color: #898080;
}

.technology-item p{
  margin: 1px;
}

.source-code-container{
  display: flex;
  margin-top: 30px;
  margin-left: 4px;
}

.code-link{
  background-color: black;
  padding-top: 13px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 8px;
  color: white;
}

.code-link:hover{
  background-color: #81ecec;
  color: black;
  transition:  0.15s,  0.30s;
}

.github-icon{
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.container-contact {
  max-width: 400px;
  margin: 0 auto;
  padding: 16px;
  /* background-color: #f9f9f9; */
  border-radius: 20px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.field {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 350px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 10px;
  font-size: 12px;
}

textarea {
  resize: vertical;
  font-family: Arial, Helvetica, sans-serif;
}

.contact-btn{
  background-color: #81ecec;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  place-items: center;
}

.contact-btn:hover {
  background-color: #53eded;
}

#footer{
  background-color:  #121617;
  width: 100%;
  display: inline-block;
  /* justify-content: space-evenly; */
  justify-content: center;
  margin-top: 10rem;
  text-align: center;
}

.footer-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-bottom: 30px;
  place-items: center;
  margin: 0;
  width: 100%;
  margin-top: 30px;

}

.title-row {
  color: #898080;
  font-family: Arial;
  font-size: 16px;
  margin: 0;
  margin-bottom: 10px;
  text-align: center;

}
.title-row {
  text-align: center;

  padding-bottom: 5px; /* Add some spacing between title and content */
}

.row-group p {
  line-height: 30px;
  color: white;
  font-size: 12px;
  flex: 1;
  margin: 0 10px; 
}

.project-thumbnail{
  border-radius: 16px;
  width: 45rem;
  height: 350px;
  display: inline-block;
  margin-left: -15px;
}
